USE [RulesLogging1]
GO
/****** Object:  Table [dbo].[ResolvedAlertsRateJob]    Script Date: 10/10/2019 10:13:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResolvedAlertsRateJob](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[requesterID] [int] NOT NULL,
	[requesterName] [varchar](255) NOT NULL,
	[requesterEmailAddr] [varchar](255) NULL,
	[status] [tinyint] NULL,
	[creationDate] [datetime] NULL,
	[modifyDate] [datetime] NULL,
 CONSTRAINT [PK_ResolvedAlertsRate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResolvedAlertsRateJobDetails]    Script Date: 10/10/2019 10:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResolvedAlertsRateJobDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[resolvedAlertsRateJobID] [bigint] NOT NULL,
	[idCaller] [bigint] NOT NULL,
	[status] [tinyint] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[error] [varchar](1500) NULL,
	[maxRequestTime] [datetime] NULL,
	[requestsCount] [int] NULL,
 CONSTRAINT [PK_ResolvedAlertsRateJobDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResolvedAlertsRateJobResults]    Script Date: 10/10/2019 10:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResolvedAlertsRateJobResults](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[jobID] [bigint] NOT NULL,
	[idCaller] [bigint] NOT NULL,
	[request_id1] [bigint] NOT NULL,
	[requestTime] [datetime] NULL,
	[userName] [nvarchar](50) NULL,
	[request_id2] [bigint] NULL,
	[RuleName] [nvarchar](256) NULL,
	[Severity] [nvarchar](50) NULL,
	[ObjectName] [nvarchar](50) NULL,
	[ObjectID] [bigint] NULL,
	[callerObjectID] [bigint] NULL,
	[resolved] [tinyint] NULL,
	[bypassed] [tinyint] NULL,
 CONSTRAINT [PK_ResolvedAlertsRateJobResults] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_bypassed]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_bypassed] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[bypassed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_callerObjectID]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_callerObjectID] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[callerObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_IDCALLER]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_IDCALLER] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[idCaller] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_jobID]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_jobID] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[jobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_ObjectName]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_ObjectName] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[ObjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_REQ]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_REQ] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[request_id1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_requestTime]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_requestTime] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[requestTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_resolved]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_resolved] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[resolved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_RuleName]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_RuleName] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[RuleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ResolvedAlertsRateJobResults_Severity]    Script Date: 10/10/2019 10:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResolvedAlertsRateJobResults_Severity] ON [dbo].[ResolvedAlertsRateJobResults]
(
	[Severity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[getResolvedRateJobResult_ByClaim]    Script Date: 10/10/2019 10:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getResolvedRateJobResult_ByClaim](@JobID BIGINT)
AS

SELECT *, (100-ABS(B.ResolvedRate-B.BypassedRate)) AS UnknownRate FROM (

SELECT *, 
ROUND(((CAST(100 AS FLOAT)*CAST(A.ResolvedCount AS FLOAT))/ CAST(A.FiringCount AS FLOAT)), 2) AS ResolvedRate, 
ROUND(((cast (100 AS FLOAT) * CAST(A.BypassedCount AS FLOAT) )/ cast (A.FiringCount AS FLOAT)), 2) AS BypassedRate
FROM (
SELECT ra.idCaller, ra.Severity
,(SELECT COUNT(1) FROM ResolvedAlertsRateJobResults ra2 WHERE ra2.jobID=@JobID AND ra2.idCaller=ra.idCaller AND ra2.Severity=ra.Severity) as FiringCount
,(SELECT COUNT(1) FROM ResolvedAlertsRateJobResults ra2 WHERE ra2.jobID=@JobID AND ra2.idCaller=ra.idCaller AND ra2.Severity=ra.Severity AND ra2.resolved=1) as ResolvedCount
,(SELECT COUNT(1) FROM ResolvedAlertsRateJobResults ra2 WHERE ra2.jobID=@JobID AND ra2.idCaller=ra.idCaller AND ra2.Severity=ra.Severity AND ra2.bypassed=1) as BypassedCount
FROM ResolvedAlertsRateJobResults ra 
WHERE ra.RuleName IS NOT NULL
AND jobID=@JobID
GROUP BY ra.idCaller, ra.Severity) A
)B

ORDER BY B.idCaller, (B.resolvedRate+B.bypassedRate) desc, B.bypassedRate DESC, B.resolvedRate desc, B.firingCount DESC
GO
/****** Object:  StoredProcedure [dbo].[getResolvedRateJobResult_ByRules]    Script Date: 10/10/2019 10:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getResolvedRateJobResult_ByRules](@JobID BIGINT)
AS
SELECT *, (100-ABS(B.ResolvedRate-B.BypassedRate)) AS UnknownRate FROM (
SELECT a.RuleName, a.Severity, a.FiringCount,
A.ResolvedCount, /*A.unResolvedCount-A.bypassedCount AS unResolvedCount, */A.BypassedCount,
ROUND(((CAST(100 AS FLOAT)*CAST(A.ResolvedCount AS FLOAT))/ CAST(A.FiringCount AS FLOAT)), 2) AS ResolvedRate, 
--ROUND(((cast (100 AS FLOAT) *(  cast (A.unResolvedCount AS FLOAT) - cast (A.bypassedCount AS FLOAT) ))/ cast (A.firingCount AS FLOAT)), 2) AS unResolvedRate,
ROUND(((cast (100 AS FLOAT) * CAST(A.BypassedCount AS FLOAT) )/ cast (A.FiringCount AS FLOAT)), 2) AS BypassedRate
FROM (

SELECT ra.RuleName, ra.Severity, COUNT(1) AS FiringCount,
(SELECT COUNT(1) FROM ResolvedAlertsRateJobResults ra2 WHERE ra2.jobID=@JobID and ra2.RuleName = ra.RuleName AND ra2.Severity=ra.Severity AND ra2.resolved=1) AS ResolvedCount,
/*(SELECT COUNT(1) FROM ResolvedAlertsRateJobResults ra2 WHERE ra2.RuleName = ra.RuleName AND ra2.Severity=ra.Severity AND ra2.resolved=0 AND 
	ra2.request_id1=(SELECT MAX(ra3.request_id1) FROM ResolvedAlertsRateJobResults ra3 WHERE ra3.idCaller=ra.idCaller)) AS unResolvedCount,*/
(SELECT COUNT(1) FROM ResolvedAlertsRateJobResults ra2 WHERE ra2.jobID=@JobID and ra2.RuleName = ra.RuleName AND ra2.Severity=ra.Severity AND ra2.bypassed=1) AS BypassedCount
FROM ResolvedAlertsRateJobResults ra 
WHERE ra.RuleName IS NOT NULL
AND jobID=@JobID
GROUP BY ra.RuleName, ra.Severity

) A

)B 
ORDER BY (B.resolvedRate+B.bypassedRate) desc, B.bypassedRate DESC, B.resolvedRate desc, B.firingCount DESC


--EXECUTE getResolvedRateJobResult_ByRules 6
GO
/****** Object:  StoredProcedure [dbo].[ResolvedRateProc]    Script Date: 10/10/2019 10:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResolvedRateProc]
AS
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @jobID BIGINT
	DECLARE @jobStatus INT
	DECLARE @idCaller BIGINT

	SET @jobID = NULL
	SET @idCaller = NULL
	SET @jobStatus = NULL

	--get job (in progress-1-) in progress first
	SELECT TOP 1
		@jobID = j.ID
	FROM ResolvedAlertsRateJob j
	WHERE j.status = 1
	ORDER BY j.creationDate

	IF (@jobID IS NULL) --no in-progress jobs
	BEGIN --get oldest (not started yet)
		SELECT TOP 1
			@jobID = j.ID
		FROM ResolvedAlertsRateJob j
		WHERE j.status IS NULL
		ORDER BY j.creationDate
	END
	ELSE
	BEGIN
		SET @jobStatus = 1 --set working in "an in-progress" job
	END

	IF (@jobID IS NULL) --no job to do
	BEGIN
		PRINT 'NO Jobs to do !!';
		RETURN;
	END
	ELSE
	BEGIN
		SET @jobStatus = 0 --set working in "not started yet" job
	END

	PRINT 'Job_ID=' + CAST(@jobID AS VARCHAR(50))


	SELECT TOP 1
		@idCaller = jd.idCaller
	FROM ResolvedAlertsRateJobDetails jd
	WHERE jd.resolvedAlertsRateJobID = @jobID
	AND ISNULL(jd.status, 0) = 0
	ORDER BY jd.idCaller

	IF (@idCaller IS NULL)
	BEGIN
		PRINT 'NO claims to process !!';
		RETURN; --NO claims to process
	END

	BEGIN TRY
		PRINT 'idCaller_ID=' + CAST(@jobID AS VARCHAR(50))

		INSERT INTO ResolvedAlertsRateJobResults (jobID, idCaller, request_id1, request_id2, ObjectName, ObjectID, callerObjectID, Severity, RuleName, requestTime, userName)
			SELECT
				@jobID
			   ,B.idCaller
			   ,B.request AS reqID1
			   ,o.request AS reqID2
			   ,o.ObjectName
			   ,o.ObjectID
			   ,o.callerObjectID
			   ,o.Severity
			   ,o.RuleName
			   ,B.requestTime
			   ,B.userName  --into temp_3
			FROM (SELECT
					c1.request
				   ,c1.idCaller
				   ,r.requestTime
				   ,r.userName
				FROM Claim c1
				INNER JOIN ScrubRequest r
					ON r.ID = c1.request
				INNER JOIN Header h
					ON h.requestID = r.ID
				LEFT JOIN ExtendedValidationType e
					ON e.headerID = h.ID
				WHERE c1.idCaller = @idCaller
				AND e.[type] <> 'Analyzing') B
			LEFT JOIN allOutcomes2 o
				ON B.idCaller = o.idCaller
					AND B.request = o.request
			ORDER BY B.idCaller, B.request, o.ObjectName, o.ObjectID, o.Severity, o.RuleName

		UPDATE ResolvedAlertsRateJobResults
		SET resolved =
		CASE
			WHEN A.unresolvedID IS NOT NULL THEN 0
			ELSE CASE
					WHEN A.nextReqID IS NULL THEN 0
					ELSE 1
				END
		END
		FROM (SELECT
				org.ID
			   ,(SELECT
						MIN(x.request_id1)
					FROM ResolvedAlertsRateJobResults x
					WHERE x.idCaller = org.idCaller
					AND x.request_id1 > org.request_id1)
				AS nextReqID
			   ,(SELECT TOP 1
						Y.ID
					FROM ResolvedAlerts Y
					WHERE Y.request_id1 = (SELECT
							MIN(x.request_id1)
						FROM ResolvedAlertsRateJobResults x
						WHERE x.idCaller = org.idCaller
						AND x.request_id1 > org.request_id1)
					AND Y.ObjectName = org.ObjectName
					AND Y.callerObjectID = org.callerObjectID
					AND Y.Severity = org.Severity
					AND Y.RuleName = org.RuleName)
				AS unresolvedID
			FROM ResolvedAlertsRateJobResults org
			WHERE org.idCaller = @idCaller
			AND org.jobID = @jobID) A
		WHERE ResolvedAlertsRateJobResults.ID = A.ID

		UPDATE ResolvedAlertsRateJobResults
		SET bypassed = ISNULL((SELECT TOP 1
				1
			FROM [ACCUMED_DB1].Accumed.dbo.PASSED_RULES_CLAIM
			INNER JOIN [ACCUMED_DB1].Accumed.dbo.PASSED_RULES_DETAILS
				ON PASSED_RULES_CLAIM_ID = PASSED_RULES_CLAIM.ID
			WHERE PASSED_RULES_CLAIM.HAAD_CLAIM_LINE_ID = ResolvedAlertsRateJobResults.idCaller
			AND PASSED_RULES_DETAILS.RULE_NAME COLLATE database_default = ResolvedAlertsRateJobResults.RuleName COLLATE database_default
			AND PASSED_RULES_DETAILS.OBJECT_ID = ResolvedAlertsRateJobResults.callerObjectID)
		, 0)
		WHERE resolved <> 1
		--AND idCaller=(SELECT DISTINCT sub.idCaller FROM ResolvedAlertsRateJobResults sub WHERE (sub.resolved IS NULL OR sub.resolved<>1) and sub.bypassed IS NULL)
		AND idCaller = @idCaller
		AND (resolved IS NULL
		OR resolved <> 1)
		AND bypassed IS NULL

		--Set the claim as completed
		UPDATE ResolvedAlertsRateJobDetails
		SET ResolvedAlertsRateJobDetails.status = 2
		WHERE ResolvedAlertsRateJobDetails.resolvedAlertsRateJobID = @jobID
		AND idCaller = @idCaller


		IF (@jobStatus = 0)  -- set the job to "in-progress" if it was "not started yet"
		BEGIN
			UPDATE ResolvedAlertsRateJob
			SET status = 1,
			modifyDate=GETDATE()
			WHERE ID = @jobID
			SET @jobStatus = 1;
		END

		IF (@jobStatus = 1
			AND ISNULL((SELECT TOP 1
					jd.idCaller
				FROM ResolvedAlertsRateJobDetails jd
				WHERE jd.resolvedAlertsRateJobID = @jobID
				AND ISNULL(jd.status, 0) = 0)
			, 0) = 0)  --set the job to completed if this is the last claim in an "in-progress" job
		BEGIN
			PRINT 'SET Job to COMPLETED'
			UPDATE ResolvedAlertsRateJob
			SET ResolvedAlertsRateJob.status = 2, ResolvedAlertsRateJob.modifyDate=getDate()
			WHERE ID = @jobID
		END
		ELSE
		BEGIN
			PRINT 'The Job is not COMPLETED yet.'
		END

	END TRY
	BEGIN CATCH

	UPDATE ResolvedAlertsRateJobDetails --error while processing claim
		SET ResolvedAlertsRateJobDetails.status = 3, ResolvedAlertsRateJobDetails.error=(SELECT  
            ERROR_NUMBER() +  ERROR_SEVERITY() +  ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE() + ERROR_MESSAGE())

		WHERE ResolvedAlertsRateJobDetails.resolvedAlertsRateJobID = @jobID
		AND idCaller = @idCaller
	END CATCH


GO
